*{
	margin: 0px;
	padding: 0px;
}

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: 'Yatra One', cursive;
}

.social {
	position: fixed;
	left: 0;
	top: 100px;
	z-index: 2000; /*lo dejo asi para que quede fijo al mover la pagina*/
}

.social ul {
	list-style: none;
}
.social ul li a {
	display: inline-block;
	color:#fff;  /*blanco fuente iconos */
	background: #000;
	padding: 10px 15px;
	text-decoration: none;

}

.social ul li .icon-facebook {background:#3b5998; } /*color red social face */
.social ul li .icon-github	 {background:#000; } /*color de git*/
.social ul li .icon-google	 {background:#d95232;} /*color de google*/
.social ul li .icon-twitter	 {background:#00abf0; } /*color twitter, etc*/


.social ul li a:hover {
	padding: 10px 30px; /*agrandar icono al pasar por el */
}

section{

}

#home{
	width: 100%;
	height: 100%;


	background-image: url('img.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

#titles{
	width: 100%;
	font-family: 'Yatra One', cursive;
	text-align: center;
}

#logo{
	text-align: center;
	cursor: pointer;
}

#logo img{
	width: 20%;
	border-radius: 50%;
	border: 3px solid black;
	transition-property: border-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

#logo:hover img{
	border-color: #6FDF36;
}

#titles h1{
	text-align: center;
	color:#fff;
	font-size: 4em;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ;
	transition-property: text-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}

#titles:hover h1{
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;

}

#titles h3{
	text-align: center;
	color:#fff;
	font-size: 2em;
	opacity: 0.7;
}

#otra {
	background-color: #132615;
	padding: 20px;
}

#otra p{
	color: #6FDF36;
	text-align: justify;
}




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	#logo{
		flex-basis:25%;
		padding: 10px;
	}
	#logo img{
		width: 60%;
	}
	#titles {
		
		flex-basis:75%;
	}
	#titles h1{
		font-size: 1.3em;
	}
	#titles h3{
		font-size: 1em;
	}
	#home{
		height: auto;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: flex-start;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
